/.metadata/
/.recommenders/
FundContrastWeb/WebRoot/data/Sample
FundContrastWeb/WebRoot/data/StandardDoc
.metadata
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
*.class
*.war
*.ear
*.db
